#encabezado {
    background-color: rgb(23, 9, 65);
    text-align: center;
}

h1{
    color: aqua;
}

h3{
    color:rgb(154, 214, 13);
}

p{
    text-align: center;
    background-color: aqua
}

body{background-color: rgb(0, 0, 0);}

a[href="https://olympics.com/es/deportes/"] {

    color: rgb(8, 212, 239);
    font-style: italic;
    font-size: large;

}

div{

    width: 300px;
    border: 15px solid rgb(245, 245, 245) ;
    padding: 50px;
    margin: 20 px;
    text-align: center;
    width: 1000px;
    background-color: rgb(200, 83, 15);
    border: 30px;
    

    font-style:oblique;
    font-size:medium;

}